.footer {
    color: white;
    background-color: #1F364E;
    width: 100%;
}

.mainFooter {
    padding: 3em;
}

.footerDropdown{
    background-color: #1F364E;
    color: white;
    border-color: white;
    border-radius: 5px;
    width: 100%;
}

.copyrightFooter {
    background-color: #0A253C;
    text-align: center;
}